<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments :: commonHeadTags}"></th:block>
        <title>My account - News Summary</title>
    </head>
    <body>
        <div th:replace="~{fragments :: navbar}"></div>
        <header>
            <div th:replace="~{fragments :: headerMessages}"></div>
            <h1 class="mb-5">My account</h1>
        </header>
        <main>
            <section class="mb-3">
                <h2 class="fs-5">Name</h2>
                <p th:text="${currentName}"></p>
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#change-name-modal"
                >
                    Change name
                </button>
            </section>
            <section class="mb-3">
                <h2 class="fs-5">Email</h2>
                <p th:text="${currentEmail}"></p>
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#change-email-modal"
                >
                    Change email
                </button>
            </section>
            <section class="mb-3">
                <h2 class="fs-5">Change password</h2>
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#change-password-modal"
                >
                    Change password
                </button>
            </section>
            <section class="mb-3">
                <h2 class="fs-5">Delete account</h2>
                <button
                    type="button"
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-account-modal"
                >
                    Delete account
                </button>
            </section>
        </main>
        <div th:replace="~{fragments :: footer}"></div>
        <div id="change-name-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Change name</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form
                        th:action="@{/api/update/user/name}"
                        method="post"
                        th:object="${updateNameForm}"
                    >
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label" for="name-input">New name</label>
                                <input
                                    id="name-input"
                                    class="form-control"
                                    type="text"
                                    aria-describedby="invalid-feedback-name-input"
                                    th:classappend="${#fields.hasErrors('name')}? 'is-invalid'"
                                    th:field="*{name}"
                                >
                                <div
                                    id="invalid-feedback-name-input"
                                    class="invalid-feedback"
                                    th:if="${#fields.hasErrors('name')}"
                                    th:errors="*{name}"
                                ></div>
                            </div>
                            <script th:if="${#fields.hasErrors('*')}">
                                new bootstrap.Modal("#change-name-modal", {}).toggle();
                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Change name</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="change-email-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Change email</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form
                        th:action="@{/api/update/user/email}"
                        method="post"
                        th:object="${updateEmailForm}"
                    >
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label" for="email-input">New email</label>
                                <input
                                    id="email-input"
                                    class="form-control"
                                    type="email"
                                    aria-describedby="invalid-feedback-email-input"
                                    th:classappend="${#fields.hasErrors('email')}? 'is-invalid'"
                                    th:field="*{email}"
                                >
                                <div
                                    id="invalid-feedback-email-input"
                                    class="invalid-feedback"
                                    th:if="${#fields.hasErrors('email')}"
                                    th:errors="*{email}"
                                ></div>
                            </div>
                            <script th:if="${#fields.hasErrors('*')}">
                                new bootstrap.Modal("#change-email-modal", {}).toggle();
                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Change email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="change-password-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Change password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form
                        th:action="@{/api/update/user/password}"
                        method="post"
                        th:object="${updatePasswordForm}"
                    >
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label" for="current-password-input">Current password</label>
                                <input
                                    id="current-password-input"
                                    class="form-control"
                                    type="password"
                                    aria-describedby="invalid-feedback-current-password-input"
                                    autocomplete="current-password"
                                    th:classappend="${#fields.hasErrors('currentPassword')}? 'is-invalid'"
                                    th:field="*{currentPassword}"
                                >
                                <div
                                    id="invalid-feedback-current-password-input"
                                    class="invalid-feedback"
                                    th:if="${#fields.hasErrors('currentPassword')}"
                                    th:errors="*{currentPassword}"
                                ></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="new-password-input">New password</label>
                                <input
                                    id="new-password-input"
                                    class="form-control"
                                    type="password"
                                    aria-describedby="invalid-feedback-new-password-input"
                                    autocomplete="new-password"
                                    th:classappend="${#fields.hasErrors('newPassword')}? 'is-invalid'"
                                    th:field="*{newPassword}"
                                >
                                <div
                                    id="invalid-feedback-new-password-input"
                                    class="invalid-feedback"
                                    th:if="${#fields.hasErrors('newPassword')}"
                                    th:errors="*{newPassword}"
                                ></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="new-password-again-input">Type new password again</label>
                                <input
                                    id="new-password-again-input"
                                    class="form-control"
                                    type="password"
                                    aria-describedby="invalid-feedback-new-password-again-input"
                                    autocomplete="new-password"
                                    th:classappend="${#fields.hasErrors('newPasswordAgain')}? 'is-invalid'"
                                    th:field="*{newPasswordAgain}"
                                >
                                <div
                                    id="invalid-feedback-new-password-again-input"
                                    class="invalid-feedback"
                                    th:if="${#fields.hasErrors('newPasswordAgain')}"
                                    th:errors="*{newPasswordAgain}"
                                ></div>
                            </div>
                            <div
                                class="password-match-error"
                                th:if="${#fields.hasErrors('passwordMatch')}"
                                th:errors="*{passwordMatch}"
                            ></div>
                            <script th:if="${#fields.hasErrors('*')}">
                                new bootstrap.Modal("#change-password-modal", {}).toggle();
                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="delete-account-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Are you sure?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-0">
                            This action cannot be undone. If you want to return, you'll have to create a new account.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form th:action="@{/api/delete/user}" method="post">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Delete account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments :: commonScriptTags}"></div>
    </body>
</html>
