<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments :: commonHeadTags}"></th:block>
        <title>News Summary</title>
    </head>
    <body>
        <div th:replace="~{fragments :: navbar}"></div>
        <header>
            <div th:replace="~{fragments :: headerMessages}"></div>
            <h1 class="display-4 text-center mb-5">Daily News Summary</h1>
        </header>
        <main>
            <!--/* If authenticated, show all news snippets. */-->
            <ol sec:authorize="isAuthenticated()" class="mb-5">
                <li th:each="snippet : ${snippets}" class="mb-3">
                    <span th:text="${snippet.summary}"></span>
                    <a th:href="${snippet.source}" class="link-secondary">[source]</a>
                </li>
            </ol>
            <!--/* If not authenticated, show only 10 news snippets at max. */-->
            <ol sec:authorize="!isAuthenticated()" class="mb-5">
                <li th:each="snippet : ${snippets}" th:if="${snippet.slot < 10}" class="mb-3">
                    <span th:text="${snippet.summary}"></span>
                    <a th:href="${snippet.source}" class="link-secondary">[source]</a>
                </li>
            </ol>
            <p sec:authorize="!isAuthenticated()" class="text-center mb-5">
                <strong>This is only a preview. If you want to see more, <a th:href="@{/signup}">sign up</a>.</strong>
            </p>
            <section>
                <p class="text-secondary text-center mb-3">
                    Data provided by
                    <a class="link-secondary" href="https://developer.nytimes.com/">The New York Times</a>
                    and summarized by OpenAI's
                    <a class="link-secondary" href="https://openai.com/blog/introducing-chatgpt-and-whisper-apis">ChatGPT</a>.
                </p>
                <div class="d-flex justify-content-center gap-3">
                    <a href="https://developer.nytimes.com/">
                        <img th:src="@{/img/nytimes-logo.png}" alt="Logo for The New York Times">
                    </a>
                    <a id="openai-logo" href="https://openai.com/blog/introducing-chatgpt-and-whisper-apis">
                        <img th:src="@{/img/openai-logomark.svg}" alt="Logomark for OpenAI">
                    </a>
                </div>
            </section>
        </main>
        <div th:replace="~{fragments :: footer}"></div>
        <div th:replace="~{fragments :: commonScriptTags}"></div>
    </body>
</html>
