<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments :: commonHeadTags}"></th:block>
        <title>Sign up - News Summary</title>
    </head>
    <body>
        <div th:replace="~{fragments :: navbar}"></div>
        <header>
            <div th:replace="~{fragments :: headerMessages}"></div>
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Limited access</h4>
                <p>
                    Hi there, my name's Westermeister, and I'm the person who made this website.
                    Thanks for checking it out!
                </p>
                <p>
                    This website is only a small hobby project, and not a fully-fledged commercial news site.
                    In other words, I'm not here to sell you anything; I just wanted to build something cool.
                    As a result, this means that money is a bit of an issue, because
                    <strong>
                        the more users that sign up, the more I have to pay for servers, databases, and more.
                    </strong>
                    That's why, at least for now, I'm limiting the amount of users to 10,000 at most.
                </p>
                <p class="mb-0">
                    For more information, feel free to contact me via
                    <a rel="author" href="mailto:westermeister12@gmail.com">email</a>.
                </p>
            </div>
            <h1 class="mb-3">Sign up</h1>
        </header>
        <main>
            <p>You can customize which news sources you see if you create an account.</p>
            <form
                action="#"
                method="post"
                th:action="@{/api/user}"
                th:object="${signUpForm}"
            >
                <div class="mb-3">
                    <label class="form-label" for="name-input">Full name</label>
                    <input
                        id="name-input"
                        class="form-control"
                        type="text"
                        aria-describedby="invalid-feedback-name-input"
                        autocomplete="name"
                        th:classappend="${#fields.hasErrors('name')}? 'is-invalid'"
                        th:field="*{name}"
                    >
                    <div
                        id="invalid-feedback-name-input"
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('name')}"
                        th:errors="*{name}"
                    ></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email-input">Email address</label>
                    <input
                        id="email-input"
                        class="form-control"
                        type="email"
                        aria-describedby="invalid-feedback-email-input"
                        autocomplete="email"
                        th:classappend="${#fields.hasErrors('email')}? 'is-invalid'"
                        th:field="*{email}"
                    >
                    <div
                        id="invalid-feedback-email-input"
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}"
                    ></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password-input">Password</label>
                    <input
                        id="password-input"
                        class="form-control"
                        type="password"
                        aria-describedby="invalid-feedback-password-input"
                        aria-labelledby="password-input-help"
                        autocomplete="new-password"
                        th:classappend="${#fields.hasErrors('password')}? 'is-invalid'"
                        th:field="*{password}"
                    >
                    <div
                        id="invalid-feedback-password-input"
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('password')}"
                        th:errors="*{password}"
                    ></div>
                    <div id="password-input-help" class="form-text">Enter at least 8 characters.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password-input">Type password again</label>
                    <input
                        id="password-again-input"
                        class="form-control"
                        type="password"
                        aria-describedby="invalid-feedback-password-again-input"
                        autocomplete="new-password"
                        th:classappend="${#fields.hasErrors('passwordAgain')}? 'is-invalid'"
                        th:field="*{passwordAgain}"
                    >
                    <div
                        id="invalid-feedback-password-again-input"
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('passwordAgain')}"
                        th:errors="*{passwordAgain}"
                    ></div>
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </main>
        <div th:replace="~{fragments :: commonScriptTags}"></div>
    </body>
</html>
